[2017-01-16 12:52] triplem opened #4 "Use Dynamic Configuration of Endpoints"
Some (or all?) OpenId Connect Provider contain a link, that delivers a JSON-File with all necessary Endpoints (https://OPENID_PROVIDER_URL/.well-known/openid-configuration).

This file looks like the following:

[code]

To make the configuration of the Plugin easier, this file should be used. The configuration could be re-read after a certain amount of time, in case the configuration changes on th

[2017-01-16 12:53] triplem opened #5 "Logout not logging out of OpenId Provider"
The logout via the Jenkins Logout-Funcationality just logs the User out of Jenkins. To provide more usability, the user should also be logged out of the SSO Server.

[2017-01-16 13:04] mjmbischoff commented on #4
I'm guessing that this: https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfig is the corresponding spec?

Sound like a good improvement.

Initially you could use it to populate the rest of the configuration. But completely syncing against the json file would be nice as well. I can se both use-cases being viable depending on ones needs

[2017-01-16 13:06] mjmbischoff commented on #5
In our deployment we probably don't want this but that not a reason not to implement it. Should probably make this configurable.

[2017-01-16 21:22] triplem opened #6 "Local Login"
Even though an SSO-Server is configured, we would like to have a local login possibility. This means, that certain user (eg. admin) can still login to the jenkins if the SSO-Server is not available. This is just a fallback mechanism to avoid any problems with misconfiguration and/or SSO-Server outages.

[2017-02-01 19:11] snoozan opened #7 "User name field value not being updated"
When attempting to update the `User name field` in the Jenkins UI from `sub` to `preferred_username`, the value is not saved and remains at `sub`.
![screen shot 2017-02-01 at 2 09 36 pm](https://cloud.githubusercontent.com/assets/3599795/22522070/358f4164-e888-11e6-8532-18e8eac8957c.png)

I tracked this down to `doCheckUserNameField` method:
[code]
For some reason, userNameField is null rather tha

[2017-02-01 20:20] mjmbischoff commented on #7
Hello Susan, thanks for reporting this.

I think this might have gotten fixed already with https://github.com/jenkinsci/oic-auth-plugin/pull/2 I'll make sure I'll give it a test before running the release. Leaving it open for now.

I hope to finish (at least part) of an other issue and then I'll test and bake a release.

[2017-02-23 23:42] tolleiv opened #8 "Using role-based permissions"
Hi,
how would I be possible to use the roles provided through my OIC provider along with the role-based auth in Jenkins?
Would be great to see a short documentation on that.
Cheers

[2017-03-09 08:59] danielcwc opened #9 "When the user decline authorization, oic-auth prints unfriendly stack trace."
After declining authorization (error: access_denied), the end-user is redirected to http://***/securityRealm/finishLogin, which prints unfriendly stack trace information showing 'Error from provider:  null .......'.
It will be better if there's a way to customize the error page. Or just redirect the end-user back to jenkins if access_denied occurrs.

[2017-03-09 11:38] aligin commented on #7
Hello. So when the release will be? We expect the username from userInfo functionality and resolving this issue (although it is possible to correct it by hand in the .xml).

[2017-04-28 00:17] Apteryx0 opened #10 "Exception with Azure authority"
I configured the plugin to use with my Azure authority and got he below stack trace - my naive guess is that the code is assuming there is a field that only Google returns....:

This is our end-point configuration (available at https://sts.windows.net/226151a9-bcce-47cc-b359-54b1c9041a44/.well-known/openid-configuration)
[code]

[code]

[2017-05-12 12:34] dbsanfte commented on #10
I think the upgrade to 1.22 of the google auth clients will fix this.

https://github.com/google/google-oauth-java-client/issues/62

[2017-05-12 12:35] dbsanfte commented on #10
I noticed the plugin has been updated to use these new 1.22 plugins but hasn't been released, so there's no jar. Can we get a release done?

[2017-06-03 10:50] pdaw commented on #5
@mjmbischoff Hello, I am currently working on the feature, you can assign me to the issue.

[2017-06-21 14:55] DriesVerachtert commented on #8
Hi,
For info, I could get it to work with groups with some changes in the oic-auth-plugin, see https://github.com/jenkinsci/oic-auth-plugin/pull/12
It works in my setup with Keycloak with an additional mapper in the client config that adds the list of groups as an array in the ID token.
Kind regards,
Dries

[2017-07-05 10:58] tolleiv commented on #8
That sounds great - would you mind sharing the Keycloack configuration?

[2017-07-12 16:48] crazed opened #13 "Failure to integrate with hydra"
After configuring by looking at the urls provided by my hydra installation's well known configuration route, I am getting the following stack trace after login:

[code]

On the hydra server the following error is displayed:

[code]

The finishLogin url looks like:

[code]

[2017-07-14 13:07] vikas027 opened #14 "Few Issues with Keycloak"
### Environment

- [Keycloak](https://github.com/keycloak) 3.2.0
- Jenkins 2.69
- [OpenId Connect Authentication Plugin](https://wiki.jenkins-ci.org/display/JENKINS/Openid+Connect+Authentication+Plugin) 1.0

### Problem
Thanks for the plugin. I am able to log in using my user in Keycloak but have few issues.

- I am trying to save _preferrred_username_ in _User name field_, it allows me to save, b

[2017-10-18 09:26] ashb commented on #6
This would be nice, but I'm not sure it is really possible with the way auth works in Jenkins.

[2017-12-11 07:51] thuandt commented on #10
@dbsanfte I try recompile oic-auth-plugin from here https://github.com/devopskube/oic-auth-plugin  but it's not works for me.

Can you share with me experience with Azure login?

Thanks

[2017-12-21 15:12] Nagainos commented on #10
I need this plugin working! :)

[2018-02-01 01:09] jamesabbottsmith commented on #10
Can we please get a new release of this plugin such that it works with AzureAD? It seems like @dbsanfte may have got it working, but that's not available to the rest of us.

[2018-02-10 08:28] mateothegreat commented on #14
Confirmed issue Jenkins ver. 2.105

[2018-02-10 08:34] mateothegreat commented on #14
Duped by #7

Solution for now is to update config.xml:
<userNameField>sub</userNameField>
to
<userNameField>preferred_username</userNameField>

[2018-02-13 15:01] cgroschupp commented on #7
@mjmbischoff Can you release a new version to fix this issue?

[2018-02-21 14:12] cgroschupp commented on #7
@agentgonzo For me it worked.

[2018-02-23 14:10] agentgonzo commented on #7
@mjmbischoff @sboschman - is anyone still maintaining this repo? I've recently made some improvements in a fork but have noticed that there has been no active changes on this repo in a year? I'm happy to take over maintaining this repo (and doing a new release with the fixed bugs!) if required.

[2018-02-23 14:52] sboschman commented on #7
I am not a maintainer of this repo/plugin, only supplied a patch. So, unfortunately I can't make a release or anything. Made my own build of this plugin which is still being used daily to login to our Jenkins instance. If you are willing to maintain this plugin, you have my blessings.

[2018-02-25 21:51] mjmbischoff commented on #7
Fixed in 1.1,

Anyone who want to become an maintainer is welcome to do so.

[2018-02-25 21:51] #7 closed

[2018-02-25 22:02] #9 closed

[2018-02-25 22:07] #5 closed

[2018-02-28 18:16] mjmbischoff commented on #14
#7 is closed as 1.1 is released, so closing this as well.

[2018-02-28 18:16] #14 closed

[2018-03-01 13:45] mjmbischoff commented on #10
@jamesabbottsmith as @dbsanfte mentioned the current google oauth client release(1.23) doesn't contain the fix:
"Edit: Actually nevermind, I spoke too soon. This is fixed in a fork of the google project, but not in the project itself. I had to hack the lib and compile my own version, as specified in the thread, and now my azure ad authentication works."

I think I can use a patched version of the

[2018-03-02 15:13] mjmbischoff commented on #10
Could only test for regression, if someone could test that it fixes the actual problem then that would be nice.

else going to assume it just works (tm)

[2018-03-02 15:13] #10 closed

[2018-03-02 16:09] mjmbischoff commented on #13
Hmm I guess I have to setup hydra myself and have a look, sadly my home lab is in shambles. So this make take some time. I anyone else wants to pick this up than that would be great.

[2018-03-02 18:43] antinodes opened #17 "Cannot Save Security Settings with version 1.1"
I updated the oic-auth plugin to version 1.1 today and now I cannot save the settings to config.xml.  Below is the stack trace I get.

WARNING: null
java.io.IOException: java.lang.RuntimeException: Failed to serialize jenkins.model.Jenkins#securityRealm for class hudson.model.Hudson
	at hudson.XmlFile.write(XmlFile.java:200)
	at jenkins.model.Jenkins.save(Jenkins.java:3168)
	at hudson.BulkChange.c

[2018-03-03 08:29] mjmbischoff commented on #17
different from #15 but the solution might actually be the same.

I think I need to reach out to the jenkins developers to see what the idiomatic solution is suppose to be. With xstream ommiting a field is not that tricky but assigning a default seems to be.

[2018-03-03 13:30] mjmbischoff commented on #17
fix needs to be verified.

[2018-03-03 13:32] mjmbischoff commented on #8
#12 was merged

[2018-03-03 13:50] #8 closed

[2018-03-03 13:51] mjmbischoff commented on #17
@antinodes Are you able to test this against master?

[2018-03-03 19:59] antinodes commented on #17
Should be able to in a couple days. Making the variable transient was going to be my recommendation.

[2018-03-04 10:25] mjmbischoff opened #19 "Fix JEP-200 compatibility"
https://jenkins.io/blog/2018/01/13/jep-200/

on Jenkins 2.102 and above the plugin breaks due to stricter checking on what can be serialized.

Specifically OicSecurityRealm.loginAndSetUserData(..) will try to serialize GrantedAuthorityImpl when saving the User object (introduced by #12 )

java.lang.UnsupportedOperationException: Refusing to marshal org.acegisecurity.GrantedAuthorityImpl for securi

[2018-03-04 10:29] mjmbischoff commented on #19
Need to figure out the right approach for this: simply whitelisting the class doesn't feel like the right approach because if able to mess with serialization that you could change permissions. That being said I don't have a full grasp on the attack vector. Alternatively we could implement our own version of GrantedAuthority.

First assertion that we should make is if it should be stored in the fir

[2018-03-04 10:31] mjmbischoff commented on #17
thanks in advance, should you hit #19 : if you can try it with a lower version, otherwise give me some time to fix that one.

[2018-03-04 21:46] #19 closed

[2018-03-06 11:15] mjmbischoff opened #22 "use jenkins.security.SecurityListener"
We currently don't call this class but perhaps we should?

[2018-03-06 16:25] mjmbischoff commented on #6
Added an 'escape hatch' or 'local' login

[2018-03-06 16:25] #6 closed

[2018-03-06 16:27] mjmbischoff commented on #17
#19 should also be fixed, pending this and a little bit of testing I think we can release 1.2 soon

[2018-03-11 12:49] mjmbischoff commented on #17
Going to assume the fix works, should there still be issues then i'll do another release.

[2018-03-13 06:16] jamesabbottsmith commented on #10
@mjmbischoff I just tested this. It works for me. I was able to log in using my Azure AD account. Thanks very much. 😄

[2018-03-13 14:14] danilina-wsib commented on #10
@jamesabbottsmith I get the following exception after I upgraded to v1.2. Can you share your securityRealm config?

java.lang.NumberFormatException: For input string: "null"
	at java.lang.NumberFormatException.forInputString(NumberFormatException.java:65)
	at java.lang.Long.parseLong(Long.java:589)
	at java.lang.Long.valueOf(Long.java:803)
	at com.google.api.client.auth.oauth2.TokenResponse.getExp

[2018-03-13 18:10] mjmbischoff commented on #10
"expires_in
OPTIONAL. Expiration time of the Access Token in seconds since the response was generated."

Yeah my bad, added a test case for when it's not supplied at all. See if you can configure the provider to supply an expiration else wait for the next release.

[2018-03-13 18:11] #17 closed

[2018-03-14 10:21] mjmbischoff commented on #10
Having slept on it. If the expires_in is not reported by the openid connect provider then you wouldn't hit the original bug, so downgrading pinning it on 1.1 should also work for now. I'll do a 1.3 bugfix release on Friday / Saturday

[2018-03-19 07:49] mjmbischoff commented on #10
1.3 released containing the fix.

[2018-03-19 14:22] hypery2k commented on #8
@DriesVerachtert Could you share your KeyCloak Mapper Config?

[2018-03-28 17:31] roicostas opened #25 "Unable access Jenkins API with basic auth"
I am trying to access Jenkins API using user and password but I get an authentication error. Example with curl:
[code]
However if I connect using the user API token everything works fine:
`curl --user admin:<token> https://jenkins/api/json?depth=1`

Is this behavior expected?

The plugin works fine through the web ui.

[2018-03-28 18:16] mjmbischoff commented on #25
I had no expectation of behavior as I hadn't considered the use-case yet. Thinking about this:

Technically authentication is completely delegated to the openid provider. ("a user claims to be x, openid provider what say you, is user this x?" and then jenkins goes with whatever it the provider said) As a security feature you never share your credentials(in your case username / password) with the j

[2018-04-02 11:25] mjmbischoff commented on #25
Yeah considering the a fore mentioned it is intentional behavior. It does make sense to add this to the plugin documentation, which I'll track under this issue.

[2018-04-03 09:32] roicostas commented on #25
OpenId connect protocol supports that the user shares its credentials with the client. See https://tools.ietf.org/html/rfc6749#section-1.3.3 . This would ease accessing Jenkins API with user credentials directly. Of course, it only makes sense with a trusted Jenkins instance.

I am working around it authenticating through OpenId Connect first to get the authentication token.

[2018-04-03 09:38] roicostas commented on #25
My mistake, this kind of authentication is part of OAuth 2.0 but not OpenID connect

[2018-04-03 14:30] mjmbischoff commented on #25
Just to clarify, by authentication token you mean the API token right? ( https://wiki.jenkins.io/display/JENKINS/Authenticating+scripted+clients )

[2018-04-06 08:49] etiennedi opened #26 "Pass arbitrary URL Params on all requests to OIDC Provider"
Thanks for this plugin, I have a small feature-request which I believe we could contribute.

*tl;dr: It would help us tremendously if we could pass arbitrary data as url params to the oidc token issuer. Reason fro that is a custom implementation.*

## How Keycloak does it
The OIDC provider we are using is custom-built at an enterprise company. It provides realms, similar to how keycloak provides r

[2018-04-07 01:48] mjmbischoff commented on #26
Ok had a quick look at this:
- Spec saids you MAY which is good.
- Library which we rely on supports it, which makes live easier.

I've put bit of code together. Created a test class etc. to allow you to specify it in an additional configuration field what parameters you always want to pass on.

I would have to clean up the code a bit, but something I noticed: it seems to already work with the cur

[2018-04-07 17:14] etiennedi commented on #26
Thanks for your quick response. I didn't even consider simply appending the url param to the base. That actually works for the first request against the Authorize endpoint. I do see the login UI from our OIDC Provider. However, because the response type is set to `code`, a second request is made against the Token endpoint after successfully receiving the code. For whatever reason, here the additio

[2018-04-08 10:54] mjmbischoff commented on #26
Just verifying: you added the param to the "Token server url" as well?

[2018-04-09 06:52] etiennedi commented on #26
Yes, added the URL param to both fields, but it seems like it's being ignored on the "token" request.

[2018-04-09 22:31] timedroid opened #27 "Look for groups in UserInfo"
determineAuthorities only looks for the groups someone is part of in the response from the authorization endpoint.
It should look in the user info as well (if available).

[2018-04-10 09:25] mjmbischoff commented on #27
Your correct I'll have at look at implementing it.

[2018-04-15 02:07] mjmbischoff commented on #26
Ok, looking into it further I think it does what you ask but probably not what you want / your implementation expects :-)

`POST /token?foo=bar HTTP/1.1
Accept-Encoding: gzip
User-Agent: Google-HTTP-Java-Client/1.23.0 (gzip)
Content-Type: application/x-www-form-urlencoded; charset=UTF-8
Host: localhost:4444
Accept: text/html, image/gif, image/jpeg, *; q=.2, */*; q=.2
Connection: keep-alive
Content

[2018-04-16 08:59] etiennedi commented on #26
I fear, you might be right...

Indeed, I have missed that.

Our team is just a consumer of their services, however, the team managing the OIDC provider is part of the same company.

I agree with you. If it was only the url params it might seem reasonable, but requiring the `realm_id` sometimes in the URL and sometimes in the request body is just arbitrary. I'll hope we can get them to look at the

[2018-04-16 08:59] #26 closed

[2018-04-17 11:17] mjmbischoff commented on #27
pending 1.4 release

[2018-04-17 11:17] #27 closed

[2018-04-17 12:02] mjmbischoff commented on #25
Yes that's expected behavior as we do not hook into that part of Jenkins yet. The API token bit probably works because we implement the default interface.

[2018-04-20 22:48] mjmbischoff commented on #22
don't have a firm enough grasp on this, documentation is a little bit lacking and it's unclear at what levels these methods should get called to avoid over or under reporting / firing events.

Closing this for now, if you need these hooks please reopen.

[2018-04-20 22:48] #22 closed

[2018-05-11 18:31] ryaninvents opened #29 "Use Jenkins proxy information"
My Jenkins instance is set up behind a proxy, but `oic-auth-plugin` does not seem to be using the proxy information. I'm getting a "cannot find host" error.

<details><summary>Exception message</summary>
<pre>
java.net.UnknownHostException: 622eb47a.ngrok.io
	at java.net.AbstractPlainSocketImpl.connect(AbstractPlainSocketImpl.java:184)
	at java.net.SocksSocketImpl.connect(SocksSocketImpl.java:392)

[2018-05-15 00:03] mjmbischoff commented on #29
Hmm, I expected to the current implementation to honor the platform settings and for jenkins to do the same. Will have to investigate this.

[2018-05-15 00:32] mjmbischoff commented on #25
added my ramblings to the wiki page feel free to success improvements, closing this issue for now.

[2018-05-15 00:32] #25 closed

[2018-05-17 23:50] #29 closed

[2018-05-18 13:27] agentgonzo commented on #4
I've submitted #31 as a fix for this

[2018-05-19 08:15] mjmbischoff commented on #4
Looking good, just need to check a couple of things

[2018-05-19 23:01] mjmbischoff commented on #4
#31 was merged, targeted for 1.5

[2018-05-19 23:39] mjmbischoff commented on #4
Added #32 for further bug fixes and enhancements

[2018-05-19 23:44] mjmbischoff commented on #4
All set for the next release, will do a litle bit more testing. Hopefully I'll be able to the release soon.

[2018-05-19 23:44] #4 closed

[2018-05-19 23:57] mjmbischoff opened #33 "Dynamic Configuration of Endpoints"
"The configuration could be re-read after a certain amount of time, in case the configuration changes on the server." see also #4

[2018-05-19 23:58] mjmbischoff commented on #4
"The configuration could be re-read after a certain amount of time, in case the configuration changes on the server." Ah yeah missed this one, splitting this off into a separate issue. #33

[2018-05-23 13:14] fajran opened #34 "Value mapping from a nested field"
Hi, I am trying to use [Dex](https://github.com/coreos/dex) as OpenID Connect server with its LDAP backend. I want to get the username and looks like Dex puts the username value inside a second level field `federated_claims -> user_id` in the IdToken claims.

Looking at the oic-auth-plugin code, particularly [OicSecurityRealm.java#L369](https://github.com/jenkinsci/oic-auth-plugin/blob/master/src/

[2018-05-23 13:20] mjmbischoff commented on #34
Not having looked at specs etc. if we do a nested lookup when there is no property with a dot there, then it will probably be ok for everyone.

[2018-05-23 13:25] mjmbischoff commented on #34
do you have an example response?

[2018-05-23 14:41] fajran commented on #34
It's something like the following

[code]

[2018-05-23 14:43] fajran commented on #34
So if I put `federated_claims.user_id` as the username field mapping, I would get `myusername` as the result and Jenkins will use that as username.

[2018-05-23 17:54] fajran commented on #34
I made a quick proof of concept https://github.com/fajran/oic-auth-plugin/commit/26812d629d9076c3e478b0c4ee3d4bdbaf486ce3 and have tested it in my setup.

[2018-05-25 16:35] Ilhicas opened #35 "java.net.ConnectException: Connection refused (Connection refused) - Connection with local keycloak"
Environment:
**Jenkins:** 2.124
**Keycloak:** 3.4.0.Final
**Plugin Version:** 1.4

**Behind haproxy.**
**JENKINS_OPTS**=--prefix=/jenkins --httpPort=-1 --httpsPort=8083 --httpsKeyStore=/usr/share/jenkins/jenkins_keystore.jks --httpsKeyStorePassword=REDACTED

**Settings for plugin**

![selection_101](https://user-images.githubusercontent.com/14908129/40555569-762be56a-6041-11e8-9d47-8ea2699f3e4c.pn

[2018-05-25 20:33] mjmbischoff commented on #35
Are you running things in docker / container? Cause I think where it goes wrong is when jenkins tries to interact with the provider (keycloak) and all the interaction between the client(browser) and both jenkins and provider(keycloak) go ok. If it's runnning in a docker then localhost means the container not the host.

Should that be the case then check the bridge network usually it's 172.17.0.1 s

[2018-05-25 21:44] Ilhicas commented on #35
Hello michael, yes I'm actually running both on docker (as well as haproxy), I believe I've already tried using the 172.17.0.1 ip address without success and also by pointing to haproxy container ip. But will update this issue once I've tried your suggestion more rigorously. Meanwhile I'll be closing it, thank you.

[2018-05-25 21:44] #35 closed

[2018-05-28 13:31] Ilhicas commented on #35
This is not an issue with the Plugin nor Keycloak nor Jenkins.

This issue was due to how connection between the services occur at the docker level as mentioned by @mjmbischoff . By exposing ports and setting the ip's from each of the containers of the services into the configuration, all flow works as expected.

At the time being however I'm still unable to set this to the haproxy and let it rout

[2018-05-29 11:36] mjmbischoff commented on #35
If your also running haproxy as an container you should be able to use the container names as dns names for the backend definitions and bind the haproxy frontend to the host port, easiest way is probably to define a user defined bridge network.

[2018-06-06 08:35] agentgonzo commented on #33
"in case the configuration changes on the server" - Whilst possible, I think this event is extremely unlikely. If an Identity Provider changed the configuration, then it would break any Relaying Parties that are already using it.
Look at the way that google handles it with https://accounts.google.com/.well-known/openid-configuration

They version the different endpoints, eg:
* authorization_endpoi

[2018-06-06 08:54] agentgonzo opened #37 "Automatic re-login if you try to logout"
If you configure your security Realm to use "Logged-in users can do anything" and disable anonymous read access, you effectively can't logout.
The following is what happens:

1. Logout
2. Jenkins detects that you're not logged in, so redirects you to /securityRealm/commenceLogin
3. commenceLogin redirects you to your IdP
4. You are already logged in with your IdP and have a cookie, so it automatic

[2018-06-18 07:47] carstenlenz commented on #33
Hey just took a look at this plugin and stumbled over this.
It is not unlikely at all. Many IDProviders for e.g. rotate their public keys on a regular schedule (Okta
 for example every 3 month)
A good behaving client will re-read an act accordingly.

[2018-06-27 14:52] #37 closed

[2018-06-28 11:08] trunet opened #39 "Session expiring after one hour and refresh token"
I didn't find a way to define how long the session should be active.

Can we use JWT refresh token to auto renew the token?

[2018-06-28 11:55] mjmbischoff commented on #39
Currently it simply does the authentication with the openid provider and then control is back to Jenkins. I think Jenkins then delegates things to the container with respect to session logout. When session is expired your basically back at the beginning.

It might be worth it to explore extending things so that the Jenkins session is more tied to the Openid Provider session and perhaps explicitly

[2018-06-28 12:07] trunet commented on #39
Thanks for the explanation.

My use case is the users logging in, and not having to login again every hour.

Per your explanation, is there a way to dynamically set jenkins session-timeout based on the ticket expiration (in my case is 24 hours)?

[2018-07-06 10:51] suijlenm commented on #8
In case someone else is looking for an example KeyCloak Mapper Config this is what I did to get it working (on a group basis):

**KeyCloak config**
* On the 'Clients' page open the client you want to use (in my example: Jenkins);
* Open the 'Mappers' tab and click on 'Create';
  * Name: --What ever you which for-- (in my example: group-membership)
  * Mapper Type: Group Membership
  * Token Claim

[2018-07-07 04:42] diaojunxian opened #40 "after install plugin role-based authorization strategy jenkins, but jenkins restart error"
as jenkins install oic-auth-plugin 1.4，and it can work well.

after I install the plugin role-based authorization strategy，and then restart jenkins，jenkins restart error.
[code]

[2018-07-08 02:56] diaojunxian commented on #25
@mjmbischoff as I use the userid and api token, the curl command is `curl --user <userid>:<api token> http://127.0.0.1:8080/job/test/3/consoleText/api/json`, the output is
[code]
but the userid is the admin privilege，why it happend ?

[2018-07-10 09:33] mjmbischoff commented on #39
https://stackoverflow.com/questions/26407541/increase-the-jenkins-login-timeout should point you in the right direction.

Leaving this open to contemplate options with respect to refreshing session and/or auto-login

[2018-07-26 10:24] twz123 opened #41 "Access via API Token won't use group information"
Albeit a user is in an administrative group, that user is not able to use the REST API via API Token and gets a `403 Forbidden` response. The Web UI works as expected. Also the `/api/json` page when opening it up in the browser.

But when trying to use it with the API Token, the HTTP response body is telling that the `user is missing the Overall/Read permission`.

I reckon this might be connected

[2018-07-26 10:34] twz123 commented on #41
Just verified that `/whoAmI/` doesn't list any authorities when using the API Token.

[2018-08-23 15:14] ebesson opened #42 "Ssl verification fail with new version of Bouncy Castle API Plugin 2.17"
When Jenkins is updated with the new version of Bouncy Castle API Plugin (2.17), ssl verification fail. The workaround is to disabled ssl verification.

[2018-08-28 11:27] kykc opened #43 "Unable to logout when using OpenAM as idP"
OpenAM advertised logout url:
[code]
Result redirect happening when trying to logout from Jenkins:
[code]
While OpenAM expects redirect to endpoint without trailing slash:
[code]
So, without patching the code I'm currently unable to satisfy OpenAM expectations as it rightfully distinguishes those two endpoints and returns `404` on one with trailing slash.

This slash seems to be appended [here](ht

[2018-09-02 19:26] mjmbischoff commented on #34
Merged. Thanks @fajran

[2018-09-02 19:26] #34 closed

[2018-09-02 19:32] mjmbischoff commented on #40
Unsure whats going on here, judging it fails to read back the config I think which would be a weird interaction with the role-based authorization strategy plugin

[2018-09-02 22:27] mjmbischoff commented on #43
I think ppl should specify the trailing slash, so I think the code change there is as you say. For backward compatibility we could patch the configuration or mark the version as breaking.

[2018-09-03 05:59] fajran commented on #34
@mjmbischoff thanks!

[2018-09-03 19:09] mjmbischoff commented on #42
got any error logs or stacktraces? @ebesson

[2018-09-03 20:17] ebesson commented on #42
@mjmbischoff , I'll will try to send to you errors logs and stacktraces tomorrow.

[2018-09-10 14:28] mjmbischoff commented on #42
Ok @ebesson sorry for wait, I wanted to double check before I blame a problem on something other then my plugin.

Looking at the stacktrace it would seem that setting up the TLS connection is without issue and that there's a correct/valid certificate. The problem is that Jenkins/openid connect plugin/java doesn't trust the certificate as there's no certified path. This is generally due to a missin

[2018-10-04 05:12] PierreKiwi opened #44 "Compilation error"
Hello,
While compiling the project I got the following error:

[code]
The line in error is ```List<String> groupNames = (List<String>) getField(idToken, groupsFieldName);```

[2018-10-04 08:50] #44 closed

[2018-10-06 22:26] nikolajbrinch opened #45 "Set the id-token as Env variable"
I need the received id-token set as an Env variable or to be able to get it in some other way from my pipelines, as It would be required when using Helm & Kubernetes from scripts, so that these invocations happens on behalf of the actual logged in user.
All our jobs/pipelines runs in contianers on Kubernetes, so it would only be a matter of either create kubeconfig file from the token (and the res

[2018-10-15 11:39] tejado opened #47 "Support for CSRF during emergency login"
If CSRF is enabled, the emergency login (escape hatch) is not anymore working. I'm always getting the error message "No valid crumb was included in the request" when I try to login.
Is it possible to add support for CSRF in case the escape hatch is needed?

[2018-11-01 21:22] shivakirankonduru opened #48 "Null Pointer exception - help needed"
I am getting a null pointer exception after configuring the plugin in jenkins.  This is running on windows server.

Following fields have the values.  Can you please help me understand what I am doing wrong here?

Appreciate your time and help in advance.

clientid:<clientidname>
Tokenserverurl
authorization server url

FullName fielld name
email field name
Scopes openid

Given below is my stack t

[2018-11-05 22:57] tejado commented on #48
I had the same issue and (as far as I remember) after setting the redirect URL in your OpenID Provider to the root URL of jenkins (and not to /securityRealm/finishLogin) it worked.

[2018-11-09 12:49] Xyaren commented on #41
This is quite important for us aswell.
A workaround could be to assign selective permissions to the associated user of the api token additional to the group permissions.

I'm hoping for a fix (even if it's cahcing the last used login is fine by us as a temporary solution)

[2018-11-11 01:01] shivakirankonduru commented on #48
Thanks for the input.  I did that and now I am getting a different error:
com.google.api.client.auth.oauth2.TokenResponseException: 405 Method Not Allowed
<html><head><title>Error</title></head><body>HTTP method POST is not supported by this URL</body></html>
	at com.google.api.client.auth.oauth2.TokenResponseException.from(TokenResponseException.java:105)
	at com.google.api.client.auth.oauth2.Tok

[2018-11-27 17:26] ASudre opened #49 "Exception on Group"
Can't find a way to send groups :

- When using an stringified array, we get this error :
`java.lang.String cannot be cast to java.util.List`
On the line :
https://github.com/jenkinsci/oic-auth-plugin/blob/209cf6e212ca6d8e4dc14b8f4e5867203c55d34d/src/main/java/org/jenkinsci/plugins/oic/OicSecurityRealm.java#L473

- When using an array, we get this error :
[code]

Error with the JSON parser ? Or th

[2018-11-27 18:40] wand3r3r opened #50 "Reboot of Jenkins causes loss of OIDC configuration"
When you reboot Jenkins through the API '<host>/jenkins/restart'  All the OIDC information is lost and the jenkins config.xml security realm is reset.

I would expect Jenkins to come back with previously configured SSO settings.

[2018-12-09 23:26] nickpetrovic opened #51 "Client Secret field should be masked"
Client secret field should probably be masked for security reasons.

[2018-12-16 06:55] mjmbischoff commented on #50
Which version are you running of jenkins and the plugin?

[2019-01-17 11:40] wschomburg opened #54 "Doesn't work after upgrade to Jenkins 2.150.2"
After upgraded Jenkins from 2.150.1 to 2.150.2 (see Security Advisor https://jenkins.io/security/advisory/2019-01-16/), it's not possible to login into Jenkins anymore.

1. Jenkins 2.150.1 is running with OpenID Connect Plugin 1.4 and connected to our Keycloak server
2. Login redirects the users to the Keycloak login page and after authentication the users are redirected to Jenkins and authenticat

[2019-01-17 11:45] SIkebe commented on #54
Same here.

Windows Server 2012R2
IdentitySever4

[2019-01-17 15:13] Xyaren commented on #54
And here with the  official Jenkins docker image.

[2019-01-17 15:45] mamohr commented on #48
We had the same problem. It seems to be related to this commit which made it in the 2.150.2 LTS release: https://github.com/jenkinsci/jenkins/commit/8c490d14c4ffe6162f6e97d25a66612330fe2ace

A workaround is to set the system property
`jenkins.security.seed.UserSeedProperty.disableUserSeed=true`

[2019-01-17 21:31] jbiel commented on #54
The latest weekly release (2.160) is broken too.

[2019-01-17 22:04] mjmbischoff commented on #54
I'm able to reproduce as well, seems to silently fail. I'll look into it.

[2019-01-18 00:38] mjmbischoff commented on #54
So the good news is that your still logged in and the code in the plugin works as expected.
The bad is that jenkins immediately invalidates the session due to the logic here:
https://github.com/jenkinsci/jenkins/blob/8c490d14c4ffe6162f6e97d25a66612330fe2ace/core/src/main/java/hudson/security/HttpSessionContextIntegrationFilter2.java#L82

which indeed was introduced due to SECURITY-901: https://git

[2019-01-18 01:22] mjmbischoff commented on #54
Will pick it up in the next release, there where some pending things on it already have a fix for some things I spotted. Hopefully I can resolve them soon else I might opt to revert the other changes to get this out fast.

[2019-01-18 09:13] daniel-beck commented on #54
Security realms need to invoke `SecurityListener#authenticated` or `SecurityListener#loggedIn`. Those that don't will encounter this problem.

[2019-01-18 09:39] Wadeck commented on #54
FYI I am working on a fix for this plugin.

[2019-01-18 14:59] mjmbischoff commented on #54
@daniel-beck that ties into https://github.com/jenkinsci/oic-auth-plugin/issues/22 , @Wadeck are those all the events that need to be triggered?

[2019-01-18 16:02] Wadeck commented on #54
@mjmbischoff for the moment only the `authenticated` is "mandatory" for the last security release.

[2019-01-18 16:39] mildis commented on #54
Setting `-Djenkins.security.seed.DISABLE_USER_SEED=true` does not work here : still get login loop.
Also tried the artifact from build 2 of PR #56 but all I got was an NPE
[code]

[2019-01-18 17:02] mildis commented on #54
@hypery2k Working 👍 (I see you've updated your former post, that's good)

[2019-01-20 11:12] #51 closed

[2019-01-20 11:47] mjmbischoff commented on #42
Going to assume the issue got resolved should anyone hit the same sort of problem and thinks it's related to the plugin please open a new issue referring to this one.

[2019-01-20 11:47] #42 closed

[2019-01-20 11:50] mjmbischoff commented on #49
I'd like to make a test case for this to make sure I fix the issue and prevent regressions.

@ASudre Are you able you supply an example response?

[2019-01-20 14:02] mjmbischoff commented on #47
hmm, I cannot reproduce. Here when going to /login it creates a form with the hidden field containing a crumb (the nonce, and the 'crumb' they refer to in the error message) and is send along with the fields.

Which version of jenkins / plugin are you using?

[2019-01-21 09:19] SIkebe commented on #54
I verified this issue resolved. Thanks!

[2019-01-22 07:41] tejado commented on #47
So by activating the CSRF Protection (Default Crumb Issuer, without proxy compability), using Jenkins v2.157 and oic-auth-plugin v1.5 together with the latest Keycloak version, I'm still getting this error.

I also didn't find any crumb/nonce strings in the /login page.

[2019-01-22 07:57] mjmbischoff commented on #47
I'll retry to test against that exact setup, I'll keep you posted.

[2019-01-22 13:14] mamohr commented on #48
@mjmbischoff For me it is solved with the 1.5 version. I think this bug is actually a duplicate of #54. The NullPointer was caused by the session beeing invalidated because of the missing seed. Thanks for fixing!

[2019-01-22 13:54] mjmbischoff commented on #48
No problem, I'll wait and see if @shivakirankonduru problems are also resolved before closing.

[2019-01-23 09:17] mjmbischoff opened #59 "NullpointerException on Logout when endSession endpoint is absent"
[code]

[2019-01-23 09:19] mjmbischoff commented on #59
Particularly happens when using well known endpoint for configuration because logoutFromOpenidProvider seems to always be true.

[2019-01-23 11:57] mjmbischoff opened #62 "! Issues with version 1.6 of the plugin"
As indicated in #46 the spec seems to suggest that the scope shouldn't be send when performing an token request as such we won't be sending the scope anymore and thereby fixing the issue with some openid providers that break on this.

As the inverse could also be true: providers no longer working I've created this issue so people can report issues here.

As the only change between 1.5 and 1.6 is n

[2019-01-24 05:55] slayer201 commented on #54
@mjmbischoff 1.5 version you mentioned, is it for LTS ? As I can see only 2.150.2 on the website https://jenkins.io/changelog-stable/ as the latest one.

[2019-01-24 08:16] mjmbischoff commented on #54
1.5 is the version of the plugin that fixes issues with the 2.150.2 jenkins LTS release. So yes you can pick up jenkins 2.150.2 (current latest LTS) and then add the openid connect plugin version 1.5 to it and it should all work.

[2019-01-24 08:48] mjmbischoff commented on #54
@slayer201 Ah, euh.. yeah while this is the issue tracker for the plugin I focused on this :-)

2.150.2 introduced changes around the handling of security see
https://jenkins.io/security/advisory/2019-01-16/
https://issues.jenkins-ci.org/browse/JENKINS-55697?jql=labels%20%3D%20security-901

If your setup doesn't match any of the issues under the 'security-901' label then I suggest creating a new i

[2019-01-27 07:02] nikolajbrinch commented on #45
The Auth-token+Request-token that is received from the IdP when using Open ID Connect. This is normally in a web application sent using an Authentication Bearer token containing a JWT token.
Open ID Connect delivers JWT tokens as far as I'm aware, the information contained in here. But anyway. When using Open ID Connect, it would be beneficial to have the information (token) produces by the Open I

[2019-01-27 08:02] #59 closed

[2019-02-04 16:14] langes commented on #47
Hello, i am experiencing the same issue while using jenkins latest stable and the oic-auth-plugin v1.6. As soon as i enable CSRF Protection it is not possible to login using the escape hatch user that is configured in the oic plugin. Inspecting the elements in /login does not show the crumb string.

[2019-02-13 10:49] uwehdaub commented on #62
We are using an inhouse developed OpenID connect compliant Auth server.
This is working fine with 1.5 but not with 1.6, because of the missing scope.
I would prefer to have this property configurable in future releases.

[2019-02-13 13:41] marmccor commented on #47
Still reproducible in Jenkins v2.150.2, & openID Connect plugin v1.6 with CSRF enabled. Any ETA for a resolution?

[2019-02-14 14:09] mjmbischoff commented on #62
@uwehdaub Since the plugin is intended to make life easier for ops people and thus aim for max compatibility within reason - we'll add a configuration parameter in the next version. @uwehdaub

[2019-02-14 14:39] mjmbischoff commented on #47
I'm able to reproduce.

[2019-02-16 07:29] mjmbischoff commented on #47
Ok so the normal login is not utilizing CSRF as it's crumb is generated based on the jenkins authentication information and probably inherently the session. This makes sense in light of "Cross-Site Request Forgery (CSRF) is an attack that forces an end user to execute unwanted actions on a web application in which they're currently authenticated." - https://www.owasp.org/index.php/Cross-Site_Reque

[2019-02-17 14:20] #47 closed

[2019-02-17 17:15] #43 closed

[2019-02-17 19:02] #48 closed

[2019-02-17 19:04] #39 closed

[2019-02-22 11:51] rcsrao opened #66 "Will there be any possible to pass graph URL?"
I see option to provide userinfo URL and looking for graph url specification option.
Please suggest?

Thanks
Chandu

[2019-02-28 07:33] mjmbischoff commented on #66
Could you elborate on your usecase? What are you trying to achieve?

[2019-02-28 20:05] CJHarmath opened #67 "Consider making client secret optional"
I've just started using this plugin on a Windows host running Jenkins in an AD integrated environment using AD FS and one thing I've noticed is that you don't have to have a client secret when you are using Windows integrated authentication with AD FS.

So you can just register jenkins with a client id in AD FS, then have the browser auth with windows integrated auth to adfs and redirect back to j

[2019-03-06 03:40] jineshsubedi commented on #54
My testing gets fails, with a 1 error but no error message display. :( what is the problem in Jenkins, locally all of my tests are done successfully.

[2019-03-20 10:38] ewasos opened #68 "Dispaly of Keycloak Authentication Plugin Window doesn't work!"
I can't see Keycloak Authentication Plugin Window in Jenkins Global Configuration, so impossible for me to insert keycloak configuartion json. I run 2.150.2 jenkins on docker.

![image](https://user-images.githubusercontent.com/25526770/54677876-212c1400-4b04-11e9-8159-c4d9b7f30b66.png)

Any solution?

[2019-03-20 11:49] mjmbischoff commented on #68
I think you mixed up the keycloak and the openid connect plugin. Since keycloak supports openid connect it should work. If you install this plugin then it should give you the option of 'login with openid connect'.

Otherwise I would direct you to the plugin maintainer of the keycloak plugin. I think their issue tracker is here: https://github.com/devlauer/jenkins-keycloak-plugin but I could be wro

[2019-04-04 13:15] talmarco commented on #62
I've tried to integrate OpenID authentication with Jenkins and I'm getting the following error:
_java.lang.Exception: no field 'preferred_username' was supplied in the token payload to be used as the username_
Is this related to one of the changes in this version?

[2019-04-11 10:38] lcyhjx opened #69 "client id parameter is incorrect when request token"
when send request to require token, the client id parameter of request is incorrect, it should be client_id, but it is actually scope&client_id

Please see the screenshot as below
![clientid_para](https://user-images.githubusercontent.com/4145114/55951036-db88e400-5c88-11e9-846b-b53b8e3104c2.png)

[2019-04-11 10:58] lcyhjx opened #70 "The end session URL send to provider is incorrect"
The correct end session url is http://{host} /connect/endsession, but for the plugin, when logout, the url send to provider is http://{host} /connect/endsession/?id_token_hint={value}&state={value}&post_logout_redirect_uri={value},
The slash before question mark is not needed.
Please see the screenshot as below

![endseesion](https://user-images.githubusercontent.com/4145114/55952241-ad58d380-5c8b

[2019-04-13 09:16] mjmbischoff commented on #70
same issue as https://github.com/jenkinsci/oic-auth-plugin/issues/43 and is fixed in https://github.com/jenkinsci/oic-auth-plugin/pull/60

[2019-04-13 09:23] mjmbischoff commented on #69
during which interaction is this encountered?
which version of the plugin is used?

It almost looks like the url parsing fails and scope is not recognized as a separate parameter.

[2019-04-17 13:55] li9x opened #71 "Improve the description for configuration-as-code (casc) plugin: logoutFromOpenidProvider not marked as required"
In the reference page of CasC the **logoutFromOpenidProvider** key is not described as _required_. But not setting that boolean leads to Jenkins not being reachable because of a NPE, see log below, last line.

Since we're building Jenkins with a custom set of plugins, creating a docker image and deploying it to multiple k8s, we're heavily relying on the CasC plugin. Since the option to _Logout of

[2019-05-13 14:15] Hokwang opened #72 "use relam_access.roles in Keycloak for groups field"
Hi,

I am using
openid - keycloak - jenkins using this oic-auth plugin.

I want to use roles in keycloak rather than groups,
so in mapper, I want to create mapper type "User Realm Role" instead of "Group Membership" and use it.

I guess basic auth response is like
[code]

In this case, I want to write realms_access.roles in Groups field name,
but now the plugin does not support this thing.

[2019-05-24 10:50] pauxus commented on #72
You can simply set the token claim name to something like:
my_roles and set the groups field name to "my_roles". This works

[2019-05-24 21:52] peterbosalliandercom opened #73 "Client secret as env variable not correctly substituted"
When using CLIENT_SECRET as env variable it is not substituted correct.

When setting CLIENT_SECRET as env variable it is not correctly substituted in this code:
[code]
The env variable shows a different value after running apply configuration

[2019-06-12 12:28] GregoireW commented on #49
I got the same error on some profile in my company.  I use a certified openid provider, and it has a bad way of managing some profile.

- If the profile has multiple groups, no problem, the solution is working correctly  (  "groups": ["a", "b"] )
- If the profile has 1 group, instead of returning an array, it returns a single string ( "groups": "a" ) . I face the `java.lang.String cannot be cast t

[2019-06-13 16:24] fdvieira commented on #8
Hello @BlueIcarus ,

I've tried to configure keycloak and Jenkins with the confs you provided but I'm facing an issue. First, I can successfully login with a user that's in my LDAP without any problems.

Second, when I go http://jenkins.com/whoAmI, there's no group associated with the user and so I don't have access to my project on Jenkins. This leads me to conclude that some configuration is mis

[2019-06-15 19:59] twz123 commented on #8
Are the groups part of the ID Token that's being generated by Keycloak? I think you need to explicitly configure that on Keycloak side.

[2019-06-16 07:52] BlueIcarus commented on #8
Hi @fdvieira. Are you sure you have configured your Jenkins and Keycloak to use the same claim name? For some applications they are case sensitive so make sure to check that. You can always try and get the JWT token after authentication (there are many ways to do that, just Google that). That token should contain your group claim and that group claim should contain your users groups.

[2019-06-17 09:03] fdvieira commented on #8
Hi @BlueIcarus. I got it to work with another plugin, where I use the JSON generated on keycloak. And it's working perfectly.
Although, I would really like to solve this problem. I checked twice the claim name and they are correct. Let me just ask you a question. In the scopes, the "groups" are not being shown, I have to create a new scope? I'm not that skilled in keycloak.

Thanks.

[2019-06-17 10:41] BlueIcarus commented on #8
Hy @fdvieira. You will need to add a mapper to your 'Jenkins' client in Keycloak. The attached screenshot is an example of what you will need to configure. In this case the value of 'Token Claim Name' ('group-membership' in the screenshot) is the group name you will need to use in Jenkins.

![image](https://user-images.githubusercontent.com/37180297/59598669-0fefa500-90fd-11e9-94da-b1e7e0d1ccbe.pn

[2019-06-17 17:06] fdvieira commented on #8
Hi @BlueIcarus,

I did that exact configuration on keycloak.

And on Jenkins plugin configuration I did:
I added to the field **scopes** "group-membership"
I added to the file **Groups field name** "group-membership".
Am I missing something? Do I have to add the "Token Field Key To Check" and "Token Field Value To Check"?

If you need any more information please tell me.

Thanks for the help.

[2019-06-18 07:11] BlueIcarus commented on #8
Hi @fdvieira

Attached a screenshot from our configuration in Jenkins.

![image](https://user-images.githubusercontent.com/37180297/59660535-176c8800-91a9-11e9-9543-4304d1f2f47f.png)

Hope this helps!

[2019-06-18 08:35] fdvieira commented on #8
Hi @BlueIcarus,

Just a quick question, in the **Groups field name** where did you get that role-membership? It's a configuration on keycloak?

Thanks.

[2019-06-18 08:53] BlueIcarus commented on #8
Hi @fdvieira. In our setup we use role memberships in stead of group memberships.

So for your configuration in Jenkins you will need to use the token claim name 'group-membership' in stead of 'role-membership'. All other field can be left unchanged.

[2019-06-18 15:16] fdvieira commented on #8
Hi @BlueIcarus.

I configured the groups as you did and still had no success :( I'm now trying to use the Roles. I'll give more information as soon as I have it. Thank you so much for your help so far.

[2019-06-21 09:22] cedrico2016 commented on #29
i'm facing the same issue with oic-auth 1.6

[2019-06-21 09:24] cedrico2016 commented on #29
is this problem already fixed?

[2019-07-02 14:09] caryyu commented on #62
When is version 1.7/1.6.1 going to be published?

[2019-07-03 17:46] saikiranp80 commented on #62
Hi,
How do I logout from jenkins without logging out from global logout ( global logout forces other pages which uses SSO also to be forced logout).

I enabled “Logout from OpenID Provider” and I am not sure what should be the value for "OpenID Provider logout endpoint URL."

is there a way only to logout properly ( by clearing all sessions & cookies) from jenkins when I use open id plugin so that

[2019-07-23 07:17] sachinphogat commented on #41
I am also facing the same issue in latest version 1.6. With api token getting 403 unauthorized when using project based matrix, however if I explicitly add for that user then its working but not as authorized user.

[2019-07-26 14:20] niQo commented on #70
Same issue here, 404 using google End session URL: https://www.google.com/accounts/Logout

It's beacause a / is added at the end of URL

[2019-08-01 00:12] n888 opened #74 "Search Box does not return proper results, always sends to user profile page"
Hi, we are currently using openid with keycloak and seeing some strange behavior with the Jenkins search box. Version 1.6 of oic-auth-plugin.

When initially typing in some text, the dropdown appears with valid results. If the user selects an entry and presses enter, it usually will go directly to the specified job.

However when just trying to search a string that doesn't exactly match a job name

[2019-08-02 00:14] n888 commented on #74
Logs from hudson.Search.search & org.jenkinsci.plugins.oic:
[code]

[2019-08-13 08:28] SIkebe commented on #62
I also encountered this issue and reverted it back to 1.5.

I hope it will be released :-)

[2019-08-21 20:52] csharmath opened #75 "Please switch to DataBoundConstructor for mandatory and DataBoundSetter for the rest"
Configuring this plugin with configuration-as-code YAML fails if not all properties are defined in the YAML which can be fixed by using @DataBoundConstructor for mandatory and @DataBoundSetter for the rest of the properties.

More details here:
https://github.com/jenkinsci/configuration-as-code-plugin/issues/994#issuecomment-523622115

[2019-08-25 01:43] LinuxSuRen opened #76 "Request to be another maintainer of this plugin"
Hi @mjmbischoff, I'd like to be another maintainer of this plugin. I already started a thread in the [mailing list](https://groups.google.com/d/msgid/jenkinsci-dev/CAG%3D_DuutWdzVyQrOne3om-wiKN%3DFjG9rxtjfTY8iA%3DVE1fQnxA%40mail.gmail.com).

[2019-08-26 14:16] mjmbischoff commented on #76
Replied to the mailing list, let me know how you want to follow up.

[2019-08-26 23:58] LinuxSuRen commented on #76
I'd be happy to be another maintainer which as a backup at least.

[2019-09-20 14:52] jovandeginste commented on #74
Is anyone working on this? This is a breaking issue for us, and I would like to (help) tackle this.

[2019-09-22 13:20] jovandeginste commented on #74
I took a peek at the [Saml plugin](https://github.com/jenkinsci/saml-plugin/blob/master/src/main/java/org/jenkinsci/plugins/saml/SamlUserDetailsService.java#L50-L53)

See also https://javadoc.jenkins-ci.org/hudson/model/User.html

The function `User.get(String idOrFullName)` is deprecated. I replaced it in my local code with `User.get(String idOrFullName, boolean create, Map context)`, with `creat

[2019-09-27 09:08] glothriel commented on #8
@fdvieira Have you succeeded? I'm facing similar problem.

[2019-09-27 09:28] fdvieira commented on #8
Hello @glothriel,
After some tests and discussion with the keycloak support team at my company, we got to the conclusion that the groups weren't being imported for some reason and we couldn't figure it out. We ended up using another plugin that's specifically for keycloak.

Sorry, couldn't be more helpful.

Thanks,
Francisco

[2019-09-29 09:47] glothriel commented on #8
Thanks @fdvieira
I investigated the problem further and I discovered, that both keycloak plugin and this plugin corectly discover my keycloak groups, so the problem was not exactly matching yours.
Both plugins were operating on vanilla jenkins entities called in Jenkins UI "user/group" and not on Role Authorization Strategy plugin groups. I needed to add a mapping for  Role Authorization Strategy

[2019-10-08 00:19] #75 closed

[2019-10-11 13:11] oleg-nenashev commented on #76
Permissions have been transferred

[2019-10-11 13:11] #76 closed

[2019-10-11 14:12] LinuxSuRen commented on #76
@oleg-nenashev Thanks. I just forget this.

[2019-12-10 16:46] jlamande opened #84 "Support of reverse proxy chain is missing : determineRedirectTarget"
Given the documentation about Jenkins proxies :
https://support.cloudbees.com/hc/en-us/articles/360034638071-Reverse-Proxy-troubleshooting-guide#validatetheurlfromrequest

The correct method to use in order to determine the redirect target should be `getRootUrlFromRequest`
When no proxy is present or no special headers like X-Forwarded-... ones the value returned by `getRootUrlFromRequest` will be

[2020-01-29 20:18] Heena-tuli commented on #41
Hi,

Is this issue still open? I am facing the same issue. My SSO user has Admin privileges using "authenticated users" in Jenkins but when I access anything from REST API, I am facing "403 Forbidden crumb".

How to resolve this?

[2020-01-30 13:13] Heena-tuli opened #87 "OIC user not able to make API calls"
I am using Jenkins Login with Openid Connect (Amazon Cognito). I am able to use group-based authorization. I can see my groups in Granted Authorities: authenticated,<cognito group>

But when I try making API call, it gives me a "403" error saying "Missing overall read permissions".

I am using API token created using <Jenkins url>/configure/me

It is only allowing in case I give "Read" access to t

[2020-02-06 12:03] ilkomiliev commented on #49
hi, we are using AWS Cognito as OIDC and custom attribute mappings to pass the roles. Unfortunately, Cognito supports only two types for the mapped attributes - string and number. So, the array of the roles is tostringed() in the process of this mapping, causing the ClassCastException :-(

@ASudre: I'm getting this error in case where the OIDC provider already has returned internal error. In my ca

[2020-02-13 16:53] brucex opened #88 "Feature to use jenkins credentials for client secret"
Currently, we need to manually enter in the client secret. This doesn't allow for good jenkins config automation. I am using the jcac plugin and would love to be able to just pull the client secret in from the jenkins credentials/secrets.

[2020-02-27 12:27] fowlie commented on #88
I'm having the same issue and that's why I found this issue, but it seems that this can be solved using jcasc's secret sources: https://github.com/jenkinsci/configuration-as-code-plugin/blob/master/docs/features/secrets.adoc#secret-sources. Though you'd like to know :wink:

[2020-03-05 13:14] GregoireW commented on #87
I'm facing a similar issue.

I set Overall/Read permission on Authenticated pseudo group.  User are able to use the UI, but when they call API with a token they got  "403" error saying "Missing overall read permissions".

If I add the Overall/Read permission on a specific user then this user is able to make api call.

If I call the whoAmI with the token, I got

[code]
The groups are given via the

[2020-03-10 18:00] tsim2020 opened #89 "Latest OIDC plugin does not support digital signing of userinfo"
Looking to implement OpenID connect client with jenkins to a OIDC IdP.

Security requirements are that the client must be able to digital sign userinfo endpoint of the OIDC provider, including its parsing and digital signature verification.   It was noted that if Jenkins used any of the userinfo data for any authorization or security related decisions,  the security would be compromised without th

[2020-03-26 12:28] lllmaa commented on #49
this might be related to the issue @GregoireW mentioned:
https://issues.jenkins-ci.org/browse/JENKINS-61609
PR for fix in:
https://github.com/jenkinsci/oic-auth-plugin/pull/90

[2020-04-20 13:22] damianslee opened #92 "NullPointerException when no idtoken is returned"
I'm configuring the OpenID Connect plugin with a Oauth2 user login with ArcGIS Portal

I get a null reference exception with openid in or removed from the scope.

The sign in is successful; and the /finishLogin request is follows
GET /jenkins/securityRealm/finishLogin?code=<token>&state=<somestate> HTTP/1.1

Then i believe there is a call to the /token endpoint
This documentation of the ArcGIS Por

[2020-04-28 03:30] j14ncn commented on #92
I have the same problem. ; (

[2020-04-28 03:33] j14ncn commented on #92
I have the same issue. ; (

[2020-05-06 09:42] rajesh2887 opened #93 "unable to add groupid in jenkins Authorization section"
Using openid connect plugin jenkins integrated with Azure AD.
Now unable to add group id in jenkins  Authorization section
Project-based Matrix Authorization Strategy.But single user id able to add.issue in group id.group id is not resolving.

please help on this.

jenkins+Openidconnect_AzureAD

url used : https://www.epiclabs.io/configure-jenkins-azure-authentication-connect/

[2020-05-06 15:17] staylorx opened #94 "PKCE Support"
Do you have plans to support [PKCE](https://www.oauth.com/oauth2-servers/pkce/)? Thank you for the plugin.

[2020-05-07 14:46] richa-misra opened #95 "Unable to logout when integrating with AWS Cognito"
Plugin is adding ?id_token_hint= &state= &post_logout_redirect_uri=, after the Cognito logout url which returns 400 response.
Could these be removed please for the Cognito integration as logout from Jenkins doesn't work otherwise?

[code]

[2020-05-14 15:26] klinux commented on #50
I have the same issue
plugin version: 1.7
jenkins version: 2.222.3

I had configured user authentication, when I restart jenkins, the configuration on config file is removed.

Thank you

[2020-05-15 12:40] ArbazSheikh commented on #49
while working with WSO2 5.10 openid provider, even the ( "groups": ["a", "b"] ) format in the token is giving
`java.lang.ClassCastException: class java.lang.String cannot be cast to class java.util.List (java.lang.String and java.util.List are in module java.base of loader 'bootstrap')` error

[2020-05-21 04:03] rajesh2887 commented on #93
Any updates on this issue ??

[2020-06-04 04:02] rajesh2887 commented on #8
Project-based Matrix Authorization Strategy is not working in Jenkins after configured open id connect plugin. Groups ids not resolving in Project-based Matrix Authorization section.
Kindly help on this.

[2020-06-17 19:07] Andrei-Stepanov opened #96 "Cannot finish Login"
Hello, the plugin cannot finish login with next trace:

[code]

URL is: https://xxxxx.org/securityRealm/finishLogin?code=xxxxxx-0601-42d5-bc79-5fa2fa824d4d_PBsdcfjI8iRqBdaLlpGgFZQ3bjJFwRRX&state=XDk4NDM3OWQtMDYwMS00

It fails at:
[code]

Could you please give a hint?
Thank you.

[2020-06-17 19:38] Andrei-Stepanov commented on #96
I opened issue also at https://github.com/googleapis/google-oauth-java-client/issues/471
But, if you know how to fix, please help.
Thank you.

[2020-06-18 12:49] Andrei-Stepanov commented on #96
Issue on Idp side:
https://pagure.io/ipsilon/issue/339
Closing bug.

[2020-06-18 12:49] #96 closed

[2020-06-22 16:29] ckolderup commented on #87
I believe this was fixed in #80, but there has not been a new release of the plugin since that code was merged almost 8 months ago.

paging @mjmbischoff and @agentgonzo who are listed as the maintainers of this plugin on https://plugins.jenkins.io/oic-auth/. Are there any plans to update the plugin at any point, or is it abandoned?

[2020-06-23 08:00] agentgonzo commented on #87
I don't have sufficient privileges to cut a release I'm afraid.

On Mon, 22 Jun 2020, 17:29 Casey Kolderup, <notifications@github.com> wrote:

[2020-06-30 05:53] vanhtuan0409 commented on #87
Do we have the contact of this plugin owner :D waiting for this to be released

[2020-06-30 12:38] agentgonzo commented on #87
It looks like @LinuxSuRen has done releases before. Maybe they can help if @mjmbischoff isn't around?

[2020-06-30 13:53] LinuxSuRen commented on #87
Sorry for the delay. I just released it.

[2020-06-30 14:01] GregoireW commented on #87
@LinuxSuRen  Ah! I would have hoped fot the #90 in the same release as it fix an issue that is close to this one.

[2020-06-30 16:07] vanhtuan0409 commented on #87
May I know if the 1.8 release is downloadable from Jenkins Plugin Manager :D

Check from https://plugins.jenkins.io/oic-auth/ still show 1.7 only

[2020-06-30 22:43] LinuxSuRen commented on #87
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

        It will take about one or two hours to make it be available. Now 1.8 should be ok.

        font{
            line-height: 1.6;
        }

        font{
            line-height: 1.6;
        }

        font{
            line-height: 1.6;
        }

RickJenkins 中文社区（Jenki

[2020-07-01 02:42] vanhtuan0409 commented on #87
Hmmm, the original issue seems to persist. My OIDC provider is keycloak and api token dont have any information about keycloak groups. Checked with version 1.8
@ckolderup Do you have any further suggestion :D

[2020-07-01 05:59] EyckSDLuo opened #97 "Users cannot be dynamically matched based on email addresses"
Hi

I found there are two problems here.
1, oic and local jenkins databse security realm seems can not be used at the same time..can I use these two security realm at the same time?
2. users cannot be dynamically matched based on email addresses, the IdP users always match with username, can I match the user with email address?

[2020-07-01 16:47] ckolderup commented on #87
@vanhtuan0409 I don't! I'm disappointed to hear it might not work. My team has not had time to upgrade yet... we have other things happening this week.

If the release doesn't fix the API permissions issue, we will probably return to our previous workaround, which was to maintain a list of individual users and give them all permissions individually instead of relying on the "authenticated" role.

[2020-07-09 00:27] RaviChandraVeeramachaneni commented on #35
This recently happens for standalone testing also. I am not sure what's the problem but my code looks like below
` ClientRepresentation client = new ClientRepresentation();
        client.setClientId(properties.getClientId());
        client.setClientAuthenticatorType(CLIENT_SECRET);
        if (redirectURL != null && !redirectURL.trim().isEmpty()) {
            client.setRedirectUris(Collections.

[2020-07-09 00:33] RaviChandraVeeramachaneni opened #98 "Connection Refused Exception when trying to connect to standalone keycloak"
This recently happens for standalone testing also. I am not sure what's the problem but my code looks like below
[code]

[2020-07-14 08:42] twz123 opened #100 "OIDC logins are cached forever"
During debugging of #41, I noticed that the information from the user's last full login are stored indefinitely in `OicUserProperty`. So there's already a caching/security problem, as anticipated in https://github.com/jenkinsci/oic-auth-plugin/issues/41#issuecomment-417963890.

Any changes to the user inside the Identity Provider won't be reflected back into Jenkins if the user won't re-login. As

[2020-07-14 11:46] fox-md commented on #95
@richa-misra ,

You can try below settings for integration with Cognito. Works for me.

End session URL for OpenID Provider:
https://COGNITO_HOST/logout?logout_uri=http://localhost:8080/OicLogout&client_id=YOUR_CLIENT_ID&

Post logout redirect URL:
https://localhost:8080/OicLogout

[2020-07-26 02:41] #97 closed

[2020-07-29 14:45] vanhtuan0409 commented on #100
@twz123 anyway to purge this cache? can logout from jenkins work :D

[2020-07-29 15:55] twz123 commented on #100
Maybe logging out would help. But a malicious user wouldn't want to logout. That way, the malicious user can retain access to Jenkins indefinitely, even if administrators revoke access via the OIDC Identity Provider. So this is a real security concern.

The only workarounds that come to my mind would be to delete the user properties via some groovy script, or to delete the user XML file from the f

[2020-07-30 03:41] vanhtuan0409 commented on #100
seems like a full logout (both from Jenkins and OIDC) won't help. I encountered a problem when granting extra roles in OIDC provider won't reflect into Jenkins authorities.

A Jenkins restart did purge the cache in my situation. If possible, can you share the Groovy script? a possible workaround is putting a cron job to clear this cache every specific interval

[2020-08-01 07:14] twz123 commented on #87
I think this is the same as #41 ...

[2020-09-18 06:45] faithlucid opened #101 "request sent with empty data"
Hello,
i've configured in our new installed jenkins (2.249.1) the plugin oic-auth (tried with 1.18 and 1.16 version) with a client id, client secret and a Well-known configuration endpoint . When i try to login i get an error messge saying: A problem occurred while processing the request .In the jenkins.log i can find the folowing related log:
2020-09-18 06:31:58.296 hudson.init.impl.InstallUncaug

[2020-09-23 10:21] icecreamtan commented on #92
I have the same issue too

[2020-09-29 13:58] rupakumar opened #102 "OIDC authentication issue for 2.249.1v Jenkins"
Hi Team,
I am trying to integrate OpenID Connect authentication for Jenkins instance with openID connect plugin and filled all the prerequisites in config global security required from Azure AD as guided in the below link and enabled OIDC in the instance.

it works fine for some time. Later, It will get break by throwing an exception as shown in the below screenshot and if we restart the Jenkins s

[2020-09-30 21:48] staylorx opened #103 "redirect"

[2020-09-30 21:49] staylorx commented on #103
mortified. :)

[2020-09-30 21:49] #103 closed

[2020-11-13 21:48] ankithriday opened #104 "Having issues downloading plugin"
https://get.jenkins.io/plugins/oic-auth/1.3/oic-auth.hpi or anyother version
 Service Temporarily Unavailable

This is causing Jenkins init failure

[2020-11-14 08:48] amith1108 commented on #104
I'm facing the same issues since a couple of hours for all the Plugins :(

[2020-11-25 11:38] ChristianCiach commented on #25
We see the exact same issue as @diaojunxian.

[2020-12-09 18:18] erwinwolff commented on #69
I had the same just a moment ago.

[2020-12-10 16:06] babanjot commented on #8
Hello Guys @glothriel @BlueIcarus
I am implementing the same but after adding the group name in the jenkins scope.
It is giving me error after login in
Error
![image](https://user-images.githubusercontent.com/60752411/101797163-b7ea0100-3b2f-11eb-94cc-dd5aec24a6cb.png)

Any help will be appreciated.
Thanks

[2020-12-10 20:44] glothriel commented on #8
Unfortunately @babanjot I haven't touched this since then and I'm completely out of context, so I won't be able to help.

[2020-12-11 04:56] babanjot commented on #8
@glothriel No problem
Thanks for response.

[2020-12-11 06:05] BlueIcarus commented on #8
@babanjot It's been ages that I configured this so I'm doing this based on what I remember.
Based on the error I thing you are not sending the group-membership scope in the client that you are using in Jenkins. You have to tell Keycloak (I assume) that it needs to add the group-membership to the scope it returns to the client.
There might also be other configuration issues but I assume they are in

[2021-01-18 16:09] hazmeister opened #105 "Escape Hatch Login stopped working after Jenkins Upgrade to 2.266 (Spring Security Update JEP-227)"
Recently upgraded for Jenkins 2.256 to 2.275, and updated all plugins at point of upgrade.  Had put the upgrade off for a little while after spectating issues relating to the [table to div layout change](https://issues.jenkins.io/browse/JENKINS-64072).  The OpenIdConnect plugin is currently at version 1.8.

After the upgrade, the escape hatch login provides a 401 when attempting login.  Setting a

[2021-01-20 14:34] vzabawski commented on #102
In my case it was caused by incorrect client secret. I just inserted client secret from the wrong server.

[2021-01-20 14:40] vzabawski commented on #104
I had this issue with Jenkins from time to time. Probably, it's not related to the plugin itself, more like hosting issue.

[2021-01-21 15:46] vzabawski commented on #8
Jenkins side:
I've replaced "group-membership" with "groups" in "Scopes" field. And also specified `groups` in "Groups field name" field.
![image](https://user-images.githubusercontent.com/17778043/105374508-765d7300-5c10-11eb-8a11-e43c1ac5b5f5.png)

Keycloak side:
Check "Client scopes" field in client's configuration. Here's what I have:
![image](https://user-images.githubusercontent.com/17778043

[2021-01-22 10:30] vzabawski commented on #8
UPD. I was able to configure roles-groups mapping using this guide: https://itnext.io/jenkins-saml-okta-users-groups-and-role-based-security-plugin-4298a1f71a7e

[2021-02-05 08:13] kschlesselmann opened #106 "Plugin should not use all possible scopes if scopes are configured in auto configuration mode"
Currently the plugin uses all supported scopes if it is auto configured via OpenID connect endpoint.

The problem is, that all supported scopes are not necessarily allowed for the current client so login fails with invalid requested scopes.

A proposed solution would be to use some new fallback mechanism e.g.

1. Use configured scopes
2. Use supported scopes
3. Use static fallback scopes

[2021-02-09 15:17] kschlesselmann commented on #106
@mjmbischoff @LinuxSuRen Is there a chance that a PR for this issue will get merged and released? If I look at this repo it looks rather unmaintained.

[2021-02-10 18:32] rizzob456 opened #107 "Cognito not logging into Jenkins after good authentication"
Hi all,

I have been working to setup AWS Cognito with Jenkins, using a custom domain name and an ALB, with the following documentation to wire things up:
https://www.tech-notes.net/jenkins-login-with-cognito-in-aws/

I am able to be successfully redirected to my custom AWS Cognito domain where it asks for the username and password. I provide the username and password and then authenticate using a

[2021-02-11 15:58] #107 closed

[2021-02-19 10:30] abdennour commented on #87
i am facing same issue.

I have two instances of jenkins configured with the same configuration-as-code except the securityRealm:
- first instance using crowd +  jenkins 2.253
- second instance using this plugin oci-auth + jenkins 2.278

I login to both instances, i generated API token from both.
I used Postman to make API call :
- First instance : API calls goes successfully
- Second instance: AP

[2021-02-19 10:32] abdennour commented on #41
Great guys! so the root cause of my issue that explained here https://github.com/jenkinsci/oic-auth-plugin/issues/87#issuecomment-781986640 is related to the fact that GROUPs metadata does not come with the request.

My question: Can jenkins accept the access_token that i obtained from OpenID provider ( {{keycloak_base_url}}/auth/realms/:realm/protocol/openid-connect/token)?

[2021-03-23 23:54] dev-hana opened #108 "Jenkins plugin openid - Post logout redirect URL"
### Dependencies

### Feature Request

When setting openid, what should I write on the 'Post logout redirect URL'?
![image](https://user-images.githubusercontent.com/46733911/112233862-8f20ee00-8c7e-11eb-8b23-2823f58aafb5.png)

[2021-03-24 18:18] jglick opened #109 "Clean up patched TokenResponse.java"
The hack in #16 should be reworked to take advantage of https://github.com/googleapis/google-oauth-java-client/pull/194 if possible.

[2021-03-25 23:36] #108 closed

[2021-04-01 22:24] chris-edwards-pub commented on #100
It looks like after I go to log out of Jenkins and then log back in that I am not prompted for any security credentials.  I tested this with google's openid.

[2021-04-06 10:22] vzabawski commented on #105
Same for me. Plugin version is 1.8. Jenkins version is 2.277.1. Tried to change the password, but it doesn't help, so it might be some internal changes in Jenkins that make it impossible to use such feature.

[2021-04-06 17:21] jglick commented on #105
JEP-227 specifically, in Jenkins 2.266+. https://github.com/jenkinsci/oic-auth-plugin/blob/741f51845285768110e055600af81226b4e5b1f7/src/main/java/org/jenkinsci/plugins/oic/OicSecurityRealm.java#L435-L462 looks like it should still be using supported (compatible) APIs but this is an unusual usage and it is possible that for example the query parameters in https://github.com/jenkinsci/oic-auth-plugi

[2021-04-08 00:54] M1kep commented on #100
Running Jenkins 2.282 the Jenkins logout button appears to flush the roles. After clicking Logout, if I navigate to the jenkins url, it seamlessly re-auths with updated roles/groups

[2021-04-08 02:36] M1kep opened #111 "Automatic Configuration with AzureAD breaks in some cases"
### Version report

Jenkins and plugins versions report:

[code]

- What Operating System are you using (both controller, and any agents involved in the problem)?

[code]

### Reproduction steps

- Configure the "Login with OpenID Connect" to use "Automation Configuration"
- Enter AzureADs .well-known config (`https://login.microsoftonline.com/<tenant-ID\>/v2.0/.well-known/openid-configuration`)
-

[2021-05-19 12:15] tzoratto commented on #105
hello, is someone working on this ? @mjmbischoff the plugin homepage mentions you as the maintainer, would you have some spare time to fix this bug ? Thanks !

[2021-05-23 03:35] iamgeef commented on #105
Just ran into this issue and not entirely sure what I'm doing with regards to Java things, but I setup a Log Recorder with the following:
`hudson.security = ALL`
`jenkins.security = ALL`
`org.jenkinsci.plugins.oic = ALL`
`org.jenkinsci.plugins.oic.OicSecurityRealm = ALL`
`org.jenkinsci.plugins.oic.OicUserProperty = ALL`

and here's the output of, I think,  a failed Escape Hatch login:

[code]

the

[2021-06-04 12:13] rrialq opened #113 "Scopes and post logout url should be available with Automatic configuration"
### Dependencies

### Feature Request

If I decide to configure the plugin with **Automatic configuration** there is no way to configure the post logout url neither the scopes. Both of them are values needed too in **Automatic configuration**, because:

* Without **post logout url** Jenkins do the OpenId Connect logout, but doesn't complete the Jenkins logout, and if you try to authenticate again

[2021-06-17 15:21] nussera opened #114 "The 'token_endpoint_auth_methods_supported' is ignored"
### Version report

Jenkins and plugins versions report:

[code]

- What Operating System are you using (both controller, and any agents involved in the problem)?

[code]

### Reproduction steps

- Step 1: Have an openid connect provider which only supports "client_secret_basic" as auth method
- Step 2: Configure the oic-auth-plugin to utilize the provider mentioned in step 1
- Step 3: Try to logi

[2021-07-22 14:45] #88 closed

[2021-07-24 00:40] jftanner commented on #105
I'm seeing this same thing in 2.289.2. Anyone here find a workaround or fix?

[2021-07-29 21:16] dene14 commented on #105
@LinuxSuRen Maybe you can provide some ETA for a fix? Basically blocking us with Jenkins upgrade from LTS `2.263.4`

[2021-08-05 18:12] n888 commented on #74
Thank you @jovandeginste ! _apologies for the insanely late reply_

[2021-08-05 18:12] #74 closed

[2021-08-05 21:50] jovandeginste commented on #74
Could be worse 🤣

[2021-08-11 12:47] Skiepp commented on #105
As a **--> workaround <--**, you can add the following snippet before the `BadCredentialsException`
(line 328 of `OicSecurityRealm.java`):
[code]

Just to repeat, this is a **workaround for non-production**. Not pretty or solid, it just works.
Also note that I have the `FullControlOnceLoggedInAuthorizationStrategy`, not sure what happens in other contexts.

[2021-10-04 14:28] dene14 commented on #105
@mjmbischoff @LinuxSuRen sorry guys, is it maintained or abandoned?

[2021-11-18 18:15] RaviChandraVeeramachaneni commented on #35
hi @pbabu0192. Yes was able to get it done. It has to do with SSL certificate. We copied the certs to the location as specified and documented in the docker image and key-cloak Auth documentation for localhost and it works.

[2021-11-30 21:29] rodrigmb commented on #105
@agentgonzo Are you aware if this is being maintained any longer?

[2022-01-01 16:34] d3c1978 opened #118 "Unable to disable plugin"
We installed the plugin, but before we could configure admin users (using keycloak idp with a further redirection to our MS365 SSO), the container was restarted. Now we lost admin access to the system, so tried disabling the plugin through shell using:
`touch $JENKINS_HOME/plugins/oic-auth.jpi.disabled`

But, after we restart, Jenkins fails with the following message (in a browser):

	at com.thoug

[2022-01-02 02:23] d3c1978 commented on #118
For anyone facing this issue in future, here is how I resolved the issue:

Edit the config.xml file (after backing it up) in $JENKNIS_HOME folder
Change:
`<useSecurity>true</useSecurity>`
to
`<useSecurity>false</useSecurity>`

And remove the sections (everything between and including):
`<securityRealm> and </securityRealm>
<authorizationStrategy> and </authorizationStrategy>`

Then, restart your J

[2022-01-02 02:23] #118 closed

[2022-01-02 02:27] d3cxxxx opened #119 "Allow Other security realms alongside OIDC users"
### What feature do you want to see added?

An option to allow Jenkins DB users to login alongside OIDC would help new users ensure they have a way to admin-login in case their OIDC config doesn't allow them admin privileges.

### Upstream changes

_No response_

[2022-02-07 17:53] davidmfg opened #120 "Project-based Matrix Authorization Strategy users working fine but groups not so much"
Hi everyone,

It's my first time opening a issue so I hope I'm doing this the best way.

Basically I'm using the OIC plugin so I can have SSO and manage every user's privileges in my Jenkins' instance. I'm also using Azure AD.

I got the plugin working fine and the config went very smooth but for some reason I'm having this issue where it doesn't recognize groups when I add them.
Users alone are w

[2022-02-23 14:55] navneetlal commented on #119
#105

[2022-03-22 21:45] fostermi commented on #87
Is this ever going to get fixed/merged or is this plugin **_abandonware_** at this point?

[2022-04-08 18:11] abhilashjoseph commented on #120
This possibly looks very close to the issue that we face with users having only one group membership, we actually built a custom version of the plugin with a fix to this edge case linked above

[2022-04-12 15:12] abdennour commented on #87
This is an update. The admin user ( first user ) will be able to make API calls using its username/password without passing thru OIDC verficiation.

I am using the plugin: `oic-auth:1.8`
And the following configuration-as-code:

        jenkins:
          securityRealm:
            oic:
              authorizationServerUrl: https://keycloak.company.lan/auth/realms/devops-realm/protocol/openid-conn

[2022-04-12 20:27] fostermi commented on #87
Configuring the escape hatch doesn't work for me at all. Trying to login to the UI, I get redirected to the `/loginError` page. Trying to use the API just gives an "Unauthorized" response. This is with Jenkins version `2.319.2-lts`. This [1] seems to imply that the escape hatch has been broken for some time.

[1] https://github.com/jenkinsci/oic-auth-plugin/issues/105

[2022-05-09 08:46] danielwegener opened #123 "Plugin for adoption?"
Dear @mjmbischoff and @LinuxSuRen,
thanks for providing us this plugins thus far. It looks like there has not been any maintenance activity since some time. This is totally cool but there are some outstanding issues/PRs that would make this plugin even more usable. I'd like to kindly ask if you would consider opening up this plugin for adoption by other maintainers that would like to bring this pl

[2022-05-09 10:07] mjmbischoff commented on #123
I'm not opposed, I just can't seem to find the time to keep moving this forward

[2022-06-08 09:02] jambstud opened #124 "Jenkins REST API authentication user:pwd 401 Unauthorized"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

REST API curl -X POST -L --user 'user':'password' https://url/crumbIssuer/api/json

fails with 401 :

<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>Error 401 Unauthor

[2022-06-08 09:08] jambstud opened #125 "default user token on setup Jenkins controller using jcasc"
### What feature do you want to see added?

When  JCASC Jenkins controller  is provisioned  to be able to specify a  default value for a token user   to be created in order to know before the controller to be setup what will be the token value fro admin user.

### Upstream changes

_No response_

[2022-06-08 19:42] jambstud commented on #125
moved under https://github.com/jenkinsci /
[configuration-as-code-plugin](https://github.com/jenkinsci/configuration-as-code-plugin)
Public

[2022-06-08 19:42] #125 closed

[2022-06-17 19:05] jftanner commented on #105
Having done some testing with a colleague, we've discovered that a `GET /securityRealm/escapeHatch` request with  `j_username` and `j_password` _query params_ works (though is obviously insecure). Meanwhile `POST` request to the same URL are _not_ handled by that `doEscapeHatch` function (we added some logging). So, we think that it's not being mounted to handle the correct method. We're still tes

[2022-06-30 22:01] agentgonzo commented on #105
@rodrigmb , it looks like it's abandoned. 😞

[2022-06-30 22:11] cubanp3te commented on #102
Same issue for me, however I'm using Keycloak, if I keep refreshing the page it will eventually work. Not a great solution, but is a work around

[2022-07-05 14:50] RonanMacFhlan commented on #123
Considering the number of good PR's live without activity I think this would be a good idea. The lack of maintenance is clear in the number of forks

[2022-08-01 08:05] Skiepp commented on #123
@danielwegener I wrote an email to Michael which kindly marked the repo for adoption

[2022-08-01 08:06] Skiepp commented on #105
Hi all,
meanwhile I wrote an email to Michael which kindly marked the repo for adoption

[2022-08-23 14:02] RonanMacFhlan commented on #105
login works, group based authorization does not and this is including the PR which fixes general group based authz

[2022-09-20 21:53] michael-doubez commented on #123
@mjmbischoff / @LinuxSuRen I am willing to contribute to the maintainance

Although I am a professional developper, my Java is a bit rusty.
At first, if you agree, I would be more confortable merging PR and prepare release and have someone review it.
I would not want to overcommit.

[2022-09-25 09:45] #105 closed

[2022-10-09 08:54] michael-doubez commented on #62
I'll review the issues as soon as possible. Thanks for the inputs

[2022-10-09 14:57] #84 closed

[2022-10-09 15:21] michael-doubez commented on #123
Adopted it in the end

[2022-10-09 15:21] #123 closed

[2022-10-14 16:26] jeremymcgee73 commented on #119
You can use the escape hatch user to to call the API. But, you only get one user...

[2022-10-18 20:48] michael-doubez commented on #119
This is currently not possible in Jenkins. See:

* https://issues.jenkins.io/browse/JENKINS-15063.
* https://groups.google.com/g/jenkinsci-dev/c/4ElnfVKCh00/m/ZK50yxwLAgAJ

If someone can come up with an idea, it would be a good idea.

[2022-10-20 07:41] #114 closed

[2022-10-20 08:48] michael-doubez commented on #49
Closed by #122

[2022-10-20 08:48] #49 closed

[2022-10-20 08:49] michael-doubez commented on #66
Long time without answer

[2022-10-20 08:49] #66 closed

[2022-10-20 08:55] michael-doubez commented on #45
This plugin is intended to authenticate user.

Another plugin (storing secret) may provide you with a token generated by client id/secret.

[2022-10-20 08:55] #45 closed

[2022-10-20 09:00] michael-doubez commented on #104
Confirming - it is not related to the plugin ;)

[2022-10-20 09:00] #104 closed

[2022-10-20 09:10] michael-doubez opened #149 "Use JMESPath for group fields"
### What feature do you want to see added?

Groups must be ultimately a list of string but depends on the provider to provide it.

[JMES Path](https://jmespath.org/) is a nifty way to build the list from any JSON representation and is commonly used in other applications for generic oauth/oidc configuration.

The JMES Path can be used directly in the current `groupsFieldName` config because it is c

[2022-10-20 09:11] michael-doubez commented on #72
Workaround exists.

Would be solved without workaround in #149

[2022-10-20 09:14] michael-doubez commented on #98
Not related to plugin AFAIS

[2022-10-20 09:14] #98 closed

[2022-10-20 09:27] michael-doubez commented on #50
No answer.

[2022-10-20 09:27] #50 closed

[2022-10-20 09:44] michael-doubez commented on #124
Please see https://github.com/jenkinsci/oic-auth-plugin#interacting-with-jenkins-as-a-non-front-end-user.

[2022-10-20 09:44] #124 closed

[2022-10-20 09:53] michael-doubez commented on #87
Escape hatch should be fixed in version 2.0.

[2022-10-21 13:28] DavidRayner opened #151 "Wrong protocol in redirect_url using v2.1"
### Jenkins and plugins versions report

#### Jenkins
`jenkins/jenkins:2.361.2-lts` docker image

#### Plugins
<details>
<summary>Output from "jenkins-plugin-cli --list" in working setup</summary>

[code]
</details>

<details>
<summary>Output from "jenkins-plugin-cli --list" in broken setup</summary>

[code]
</details>

### Reproduction steps

Visit login page

### Expected Results

You are logged

[2022-10-21 13:54] michael-doubez commented on #151
I guess it is a side effect of #85.
How is your ingress configured ?

[2022-10-21 14:17] DavidRayner commented on #151
I do have an alert that says `It appears that your reverse proxy set up is broken.` on the Manage Jenkins page, I'll take a look on Monday.

[2022-10-22 20:42] michael-doubez commented on #120
Should be fixed in upcoming version 2.2

[2022-10-22 20:42] #120 closed

[2022-10-22 20:48] #41 closed

[2022-10-22 20:48] #87 closed

[2022-10-24 05:04] hoanpvzz opened #153 "Invalid redirect uri when Logout from OpenID Provider with Keycloak"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Jenkins deploy with Ubuntu 20.04 LTS (no agents)

### Reproduction steps

1. Logout from OpenID Provider

### Expected Results

- User logout both jenkins and Key Cloak, then return to Login Page

[2022-10-24 07:16] michael-doubez commented on #153
Hello,

I notice that the `post_logout_redirect_uri` is not URL Encoded.
Is it due to a different copy/paste ?

If not, that's the bug but then I don't understand how the feature ever worked.

[2022-10-24 08:31] michael-doubez commented on #153
Note: Related to #95 ?

[2022-10-24 09:52] michael-doubez commented on #153
From the code, I guest it is a bug.
https://github.com/jenkinsci/oic-auth-plugin/blob/0e6ab26eab8a34e8ea3ed86363d83ddd0927ef5f/src/main/java/org/jenkinsci/plugins/oic/OicSecurityRealm.java#L644

This should be URL encoded.

I hope it will be fixed in next release (this week).

[2022-10-24 10:20] michael-doubez commented on #106
To be fixed in #113

[2022-10-24 10:25] michael-doubez commented on #101
Hello,

The request sent uses `application/x-www-form-urlencoded` not `application/json`.
The data is supposed to be empty.

Maybe your provider only support json mode.

Were you abale to solve your issue ?

[2022-10-24 10:28] michael-doubez commented on #100
I'll have to check if the code still has the issue.
If that's the case, the refresh is a good time to renew user info.

[2022-10-24 10:54] dancruciat commented on #101
hi.no it's still the backlog :). i used a diferent authentication method.

[2022-10-24 10:56] michael-doubez commented on #93
Should have been fixed in version 2.0.
Do you still have the issue ?

[2022-10-24 10:59] michael-doubez commented on #153
Fixed

[2022-10-24 11:00] michael-doubez commented on #153
Oups

[2022-10-24 11:00] michael-doubez commented on #70
Fixed

[2022-10-24 11:07] michael-doubez commented on #40
Closing the issue as it is very old.
Please reopen another one with more details.

[2022-10-24 11:07] #40 closed

[2022-10-24 11:13] michael-doubez commented on #62
Closing this long issue.

Reading the question, they should be fixed by newer versions.
If not, please, open a new issue.

[2022-10-24 11:13] #62 closed

[2022-10-24 11:14] michael-doubez commented on #102
It looks related to the proxy.

Please retry with the latest version and provide logs.

[2022-10-24 11:24] michael-doubez commented on #92
This looks like a non compliant OIDC
https://openid.net/specs/openid-connect-core-1_0.html#TokenResponse

Can you please provide more context ? (dump of requests/answers, scope required ...)

[2022-10-24 11:25] michael-doubez commented on #73
Plugins do not perform env subsitution.

If the file is generated, you'll have to do it from your template generation.

[2022-10-24 11:25] #73 closed

[2022-10-24 11:26] michael-doubez commented on #68
Closing this issue as there is no further question from OP

[2022-10-24 11:26] #68 closed

[2022-10-24 11:34] michael-doubez commented on #89
Keeping the issue to address the various security issues of the plugin.

[2022-10-24 11:36] michael-doubez commented on #67
Note: try to make client secret optional

[2022-10-24 11:37] michael-doubez commented on #33
Keeping the issue for the public key renewal when we verify signed id token.

[2022-10-24 11:39] michael-doubez commented on #94
Keeping the issue for when security will be addressed

[2022-10-24 11:42] michael-doubez commented on #101
Without the specs of your provider, I cannot qualify the issue but I do know that some providers only support the posting of json data. That may be the case of yours.

@dancruciat I propose to close this issue unless you want to continue trying.

[2022-10-24 11:42] #101 closed

[2022-10-24 11:54] dancruciat commented on #101
ok.thank you.

[2022-10-25 07:59] #95 closed

[2022-10-25 07:59] #153 closed

[2022-10-26 09:02] michael-doubez opened #159 "Support preset configuration for well known providers"
### What feature do you want to see added?

In addition to the automatic configuration through the well-known discovery, we could add a list of well known provider for which some configuration could be specific (such as group field characterirstics).

The default value would be "Generic OIDC Provider" for the current implementation.

Things to add:
* optional config field for choosing the provider

[2022-10-26 14:39] michael-doubez commented on #153
MAy also fix https://issues.jenkins.io/browse/JENKINS-66459

[2022-10-28 08:57] Ellpeck opened #160 "Missing groups property causes an exception, making logins fail"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Ubuntu Server 18.04

### Reproduction steps

1. Set up OIDC auth with a provider that only adds the `groups` property to the returned data when the user has groups assigned to them
2. Try to log

[2022-10-28 11:25] klaask commented on #153
Thank you, I'm now able to logout in jenkins and keycloak 19.0.3. But I had to switch from automatic configuration to manual configuration and enter a Post logout redirect URL. Otherwise keycloak throws an invalid_redirect_uri error because of an empty url parameter post_logout_redirect_uri:

`/realms/xxxxx/protocol/openid-connect/logout?id_token_hint=eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIi

[2022-10-28 11:30] hoanpvzz commented on #153
Hi @klaask , can u share config logout_uri. I still not success logout with Invalid redirect uri after upgrade plugin :(

[2022-10-28 11:51] michael-doubez commented on #153
I'll fix that in #113.

Thanks for the feedback.

[2022-10-28 11:52] michael-doubez commented on #113
Seen in #153 : need to check for value and empty redirect in case of auto configuration.

[2022-10-28 11:55] michael-doubez commented on #153
@hoanpvzz can you please share the URL generated ?

[2022-10-28 11:58] michael-doubez commented on #160
Thanks for the investigation.

I'll check how/if missing group field is handled.

[2022-10-28 12:08] michael-doubez commented on #101
@dancruciat not that #121 which was added in latest version may fix your issue

[2022-10-28 13:35] dancruciat commented on #101
ok,thanks.will try to test it.

[2022-10-28 15:12] hoanpvzz commented on #153
https://sso.xxx.com/auth/realms/xxx/protocol/openid-connect/logout?id_token_hint=eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICIzWWhQcGV6eE1Ycll1YUpfZ3dybkhXQk8wNGlMUEs2YzNUV090aGo4RVRFIn0.eyJleHAiOjE2NjY5Njk1NTgsIm........&post_logout_redirect_uri=https%3A%2F%2Fjenkins.xxx.com%2F

This is generate URL logout use plugin v2.2 with post_logout_url  **_https://jenkins.xxx.com/_** but it not work.

[2022-10-28 15:32] hoanpvzz commented on #153
After  upgrade to keycloak 19.0.3 i config Option **_Valid post logout redirect URIs_** same as value in jenkins  and it work :)
I don't know how it work with older version keycloak ??

[2022-10-31 08:56] michael-doubez commented on #119
Note: we could use a strategy similar to https://github.com/jenkinsci/openid-plugin

[2022-11-01 16:49] #160 closed

[2022-11-04 03:10] jshergill commented on #151
I have this same issue after upgrading from version 1.8 to 2.2. My redirect uses http.

I downgraded back to 1.8 and the redirect works fine.

[2022-11-04 05:42] michael-doubez commented on #151
@jshergill are you behind a reverse proxy ?

If this is the case, please check the x-forwarded headers.

[2022-11-04 09:16] michael-doubez commented on #71
I suspect it was fixed earlier but unit test and code added to have minimal JasC config

[2022-11-04 09:16] #71 closed

[2022-11-11 10:16] #67 closed

[2022-11-22 20:28] #151 closed

[2022-11-22 20:40] michael-doubez commented on #151
@jshergill I've release version 2.3 which makes usage of proxy headers configurable. The default is to use configuration from Jenkins which was the behavior before 2.2.

[2022-11-22 20:41] michael-doubez commented on #102
Given the lack of answer, I'll close the issue.

[2022-11-22 20:41] #102 closed

[2022-11-22 20:42] michael-doubez commented on #93
No answer

[2022-11-22 20:42] #93 closed

[2022-11-23 01:33] jshergill commented on #151
@michael-doubez thanks, I will hopefully test soon. I am running my services behind ambassador io, so I think I never configured the x-forwarded-proto for the Mapping kind manifest. https://www.getambassador.io/docs/edge-stack/latest/topics/using/redirects#x-forwarded-proto-redirect

[2022-11-25 10:12] #109 closed

[2022-11-30 14:46] amit-yp opened #179 "OIDC login failing with `missing_client_id`"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

- jenkins deployed in kubernetes using helm chart
- configmap.yaml
[code]

### Reproduction steps

[code]

### Expected Results

- OIDC should accept the clientId and client_secret i'm providing